main {
    display: flex;
    flex-direction: column;
}

.canvas-grid {
    background-color: #fbfbfb;
    flex-grow: 1;
    display: flex;
    padding: styles.$space__df;
}

.canvas-grid__canvas{
    flex-grow:1;
}

.tools {
    background-color: styles.$color__primary;
    flex-basis: 10%;
    padding: styles.$space__df;
    font-size: styles.$font__sm;
    color: styles.$color__font-light;
}

.tools__toolbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tools__toolbox--item {
    display: block;
    padding: styles.$space__sm;
    background-color: transparent;
    &.is-active {
        background-color : aquamarine !important;
    }
}

/*QUERY DESKTOP*/
@media(min-width: styles.$break__desktop) {
    main {
        flex-direction: row;
    }
    .tools {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .tools__toolbox {
        justify-content: center;
    }
}
