main {
    display: flex;
    flex-direction: column;
    @media(min-width: styles.$break__desktop) {
        & {
            flex-direction: row;
        }
    }
}

.main__primary-feature {
    background-color: #fbfbfb;
    flex-grow: 1;
    display: flex;
    padding: styles.$space__df;
}

.main__secondary-feature {
    background-color: styles.$color__primary;
    flex-basis: 10%;
    padding: styles.$space__df;
    font-size: styles.$font__sm;
    color: styles.$color__font-light;

    @media(min-width: styles.$break__desktop) {
        & {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.main__secondary-feature--funcoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media(min-width: styles.$break__desktop) {
        & {
            display: flex;
            align-items: center;
        }
    }
    & > * {
        display:block;
        padding: styles.$space__sm;
    }
}
